.my-modal {
  width: 90vw !important;
  max-width: 90vw !important;
  height: 90vh !important;
  max-height: 90vh !important;
} 

hr.solid {
  border-top: 1px solid #bbb;
  margin-bottom: 0;
}

#project-input, #image-input {
  display: none;
}