.mpc-project-helper-dialog {
  margin: 5vh 5vw !important;
}

.mpc-project-helper-dialog .modal-dialog {
  width: 90vw !important;
  max-width: 90vw !important;
  height: 90vh !important;
  max-height: 90vh !important;
}

.mpc-project-helper-dialog .modal-dialog .tab-content {
  height: 0;
  flex: 1;
}

.mpc-project-helper-dialog .modal-dialog .tab-pane {
  height: 100%;
}
